# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store

# =========================
# example cache
# =========================
cache/
examples/
